@import "tailwindcss";

@theme {
  --color-sage: #8a9a7e;
  --color-rose: #d99aa3;
  --color-maroon: #6e1f2a;
  --color-gold: #c9a34e;
  --color-bg: #f5efe4;
    --font-heading: 'Cormorant Garamond', serif;
  --font-label: 'Playfair Display', serif;
}
